$dark:#1f2235;
$light:#dfdfdf;
$rose:#ff4a57;
$back:#23263a;


#contact{
    background-color: transparent;
    margin-bottom: 10vh;
}


.cont-in{
    background-color: $back;

    display: grid;
    grid-template-columns: 10% 90% ;
    grid-gap: 50px;
    padding: 10px;
    width: 100%;
    margin: 3%;

    i{
        color:$rose;
        font-size: 200%;;
    }
            .cont-in-in{
                a{
                    color:$light;
                    text-decoration:none;
                }
            }
}


.input1, .input2{
    background-color: $back;
    border-radius:1px solid $rose;
    width:450px;
    height:50px;
    margin-bottom: 4%;
    
}
input{
    color:white;
}
.submit{
    background-color: $rose;
    border: 2px solid $back;
    border-radius: 10px;
    padding:1%;
    color: $light;
    font-size: 16px;
    width:100px;

}

.input3{
    background-color: $back;
    border-radius:1px solid $rose;
    width:450px;
        height:50px;
        margin-bottom: 3%;




}
.text-area{
    background-color: $back;
    border-radius:1px solid $rose;
    width:450px;

}

.submit{
    text-align:center;
    transition: .8s;

}

form{
    margin-left: 5%;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .cont{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px;
        padding: 100px;
        padding-top: 30px;
        width: 100%;
    
    }

    .namail{
        text-align:center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        left:5%;

    }
    .input1, .input2{
        width:35vw;
        height:100px;
    }
    
    .input3{
        width:80vw;
        font-size: 150%;
    
    
    }
    .text-area{
        width:80vw;
        color:white;
        font-size: 110%;


    }
    


}




.leave{
    text-align:center;
    margin-top: 5vh;
    margin-bottom: 5vh;

}
