//variables
$dark:#1f2235;
$light:#dfdfdf;
$rose:#ff4a57;
$back:#23263a;
#landing{
    background-color:$back;
}

.social{
    li{
        a{color: $light;
            border: 1px solid $rose;
            border-radius: 50%;
            font-size: 200%;
            text-align: center;
            transition: 0.5s;
            i{width: 49.3321px;
                height:66.665px;
                border-radius: 50%;
                


            }
        }
        .f:hover{
            background-color:#4267B2;
        }
        .w:hover{
            background-color:	green;
        }
        .l:hover{
            background-color:#0077b5;
        }
        .i:hover{
            background-color:$rose;
        }

    }
}
.intro{
    .intro-head{
        text-align: center;
        font-weight: 700;
    }
    .intro-body{
        text-align:center;
        font-weight: 300;
        font-size: 150%;

    }
}
.port-wha{
        text-align:center !important;
        
    .myportfolio{
        a{        text-align:center !important;

            display:inline-block;
            margin: 0;
            text-decoration: none;
            color: $light;
            height:60px !important;
            width:100px !important;





            font-weight:500;
            border-radius: 50px;
            background-color:$rose;

            transition: 0.5s;




            



        }
        a:hover{
            background-color:rgb(4, 3, 43);
        }

    }
    .whatsapp{

        a{        text-align:center !important;

            display:inline-block;
            margin: 0;
            text-decoration: none;
            color: $light;
            background-color:green;
                        height:60px !important;
                        font-weight:500;
                        border-radius: 50px;
                        width:100px !important;
                        font-size: 200%;

                        transition: 0.5s;

        }
        a:hover{
            background-color:rgb(4, 3, 43);


        }




    }


}


@media only screen and (min-width: 768px) {
    .intro{
        .intro-head{
            text-align: left;
            font-weight: 700;
        }
        .intro-body{
            text-align:left;
        }
    }

    .port-wha{
        text-align:center;
        
    .myportfolio{
        a{
            text-align:center;

        }

    }
    .whatsapp{

        a{
            text-align:center;
        }
    }
}
.intro{


h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid $light; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: $light; }
  }
}





    
    
}
.landingimage{
    text-align: center;
    justify-content: center;
}
    .sos1{
        align-self: center;
        height:80vh;
        -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
        mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    }

    