$dark:#1f2235;
$light:#dfdfdf;
$rose:#ff4a57;
$back:#23263a;

//design 2
.portfolios-container{
    display: flex;
    flex-direction: column;
    margin-left: 10%;

    
}
.portfolios-body {
    position: relative;
    width: 100%;
    margin-bottom:5%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;

  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transition: .5s ease;
    background-color: black;
    border-radius: 20px;
  }
  
  .portfolios-body:hover .overlay {
    opacity: 0.9;
  }
  
  .text {
      font-weight: 700;
    font-size: 20px;
    position:relative;
    top: 15%;
    left: 55%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    .category{    text-align: left;

                color: $rose;

    }
    .titl{
        color: $light;

    }
  }


  .buttons{
    text-align: center;

      span{
          text-align: center;
          button{
              background-color: transparent;
              border: 2px solid $rose;
              border-radius: 10px;
              padding:1%;
              color: $light;
              font-size: 16px;
              transition: 0.5s;


          }
          button:hover{
            background-color: $rose;


          }
      }
  }

  @media only screen and (min-width: 768px) {
      .portfolios-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px;
        padding: 100px;
        padding-top: 30px;
        width: 100%;
        margin-left: 0;


      }
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .8s ease;
        background-color: black;
      }
    
    .image {
        display: block;
        width: 100%;
        height: auto;
      }
    

  }


/*
//mobile




#portfolios{
    background-color: transparent;
}

.portfolio-buttons {
    span{            text-align:center !important;
        margin: 0 0;


        button{
            text-align:center !important;
            margin: 0;

            color: $light;
            height:45px !important;
            font-weight:500;
            border-radius: 50px;
            background-color:$back;
            border:1.5px solid $rose;
            padding: 1.5%;
        }
        button:hover{
            background-color:$rose;
        
        }
                
    }
}
.portfolio-container1{
    position:relative;
    height:200px;
    max-width:500px;

    margin-bottom: 30px;

   background: url(../portfolios/a.png);

    background-size: contain;
         background-repeat: no-repeat;



}
.portfolio-container2{
    position:relative;
    height:200px;
    max-width:500px;

    margin-bottom: 30px;

   background: url(../portfolios/b.png);

    background-size: contain;
         background-repeat: no-repeat;



}
.portfolio-container3{
    position:relative;
    height:200px;
    max-width:500px;

    margin-bottom: 30px;

   background: url(../portfolios/c.jpeg);

    background-size: contain;
         background-repeat: no-repeat;



}
.portfolio-container4{
    position:relative;
    height:100px;
    max-width:500px;


    margin-bottom: 30px;

   background: url(../portfolios/d.jpg);

    background-size: contain;
         background-repeat: no-repeat;



}
.portfolio-container5{
    position:relative;
    height:200px;
    max-width:500px;

    margin-bottom: 30px;

   background: url(../portfolios/e.jpeg);

    background-size: contain;
         background-repeat: no-repeat;



}
.portfolio-container6{
    position:relative;
        height:200px;
        max-width:500px;

    margin-bottom: 30px;

   background: url(../portfolios/f.jpg);

    background-size: contain;
         background-repeat: no-repeat;



}



.portfolio{
    height:100%;
    width:100%;
    background-color:rgb(131, 30, 30);


    opacity: 0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;


}

.portfolio:hover{
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}





//large-devices
@media only screen and (min-width: 768px) {
  #portfolios{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        padding: 100px;
        padding-top: 30px;
        width: 100%;



    }
    .portfolio-container1{
        height:300px;
        max-width:500px;

    }
    .portfolio-container2{
        height:300px;
        max-width:500px;

    }
    .portfolio-container3{
        height:300px;
        max-width:500px;

    }
    .portfolio-container4{
        height:300px;
        max-width:500px;

    }
    .portfolio-container5{
        height:300px;
        max-width:500px;

    }
    .portfolio-container6{
        height:300px;
        max-width:500px;

    }


    .portfolio{
        height:100%;
        width:100%;
        background-color:rgb(170, 43, 43);
    
    
        opacity: 0;
        transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -webkit-transition: opacity 1s ease-in-out;
    
    
    }
    
    .portfolio:hover{
        opacity: 1.0;
        transition: opacity .55s ease-in-out;
        -moz-transition: opacity .55s ease-in-out;
        -webkit-transition: opacity .55s ease-in-out;
    }
    
    
    

    

    
}



*/