//variables
$dark:#1f2235;
$light:#dfdfdf;
$rose:#ff4a57;
$back:#23263a;



#skills{
    background-color: transparent;
}
.skills{
    h3{
        text-align: center;
    }
}

.expert{
          h5{
                         color: $rose;
          } 
}



.hire{
    text-align:center !important;
    margin: 0;
    text-decoration: none;
    color: $light;
    height:60px !important;
    width:100px !important;
    font-weight:500;
    border-radius: 50px;
    background-color:$back;
    border:1.5px solid $rose;
    text-decoration: none;
    padding: 1.3%;
    transition: 0.5s;

}
.hire:hover{
    background-color:$rose;
    text-decoration: none;
    color: $light;




}

//skills bar
.details{
    width: 80%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}
.bar{
    position: relative;

    border: 1.5px solid $rose;

    border-radius: 20px;

}
.bar div{
    position: relative;
    width: 0;
    height: 7px;
    border-radius: 8px;
    background-color: $rose;


}

.skills:not(:last-child){
    margin-bottom: 15px;
}

#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 90%;
    }
}


#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100%{
        width: 81%;
    }
}


#javascript-bar{
    animation: js-fill 2s forwards;
}
@keyframes js-fill {
    100%{
        width: 83%;
    }
}


#jQuery-bar{
    animation: jQuery-fill 2s forwards;
}
@keyframes jQuery-fill{
    100%{
        width: 78%;
    }
} 








///large devices
@media only screen and (min-width: 768px) {


/*.skills-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0;
    background-color: transparent;
    padding: 20px;
    padding-top: 30px;

}*/
}

