//variables
$dark:#1f2235;
$light:#dfdfdf;
$rose:#ff4a57;
//layout
body{
    background-color: $dark;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    color: $light;

}
//navigation bar
#navigation{
    font-family: 'Poppins', sans-serif;

    background-color: #10121fb4;



}
.navbar{
    background-color: #10121fbe;
    #brand{
        font-family: 'Poppins', sans-serif;

       font-weight: 700;
        font-size: 200%;
        background: -webkit-linear-gradient($light, $rose);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;


    }
    .a{
        color:$light !important;
        font-weight: 500;
        font-size:120%;


    }
    .a:hover{
        color:$rose !important;



    }
    .toggler{
        color:$light;
    }
}
.navcover{
    height: 20vh;
}

//large screens
@media only screen and (min-width: 768px) {
    .navcover{
        height: 30vh;
    }
    

}
